<section class="section-padding">
    <div class="container">
        <!-- Section Heading -->
        <div class="cart-section-heading">
            <div class="section-header text-center">
                <h2>Cart</h2>
            </div>
        </div>
        <!--/ Section Heading -->
        <!-- table -->
        <div class="row">
            <div class="col-md-12">
                <div class="w-100 table-responsive mb-4">
                    <!-- Table Heading -->
                    <table class="table hm-cart-table">
                        <thead>
                            <tr>
                                <th></th>
                                <th scope="col" class="product-name">Product</th>
                                <th scope="col" class="product-qty">Quantity</th>
                                <th scope="col" class="product-price">Total</th>
                            </tr>
                        </thead>
                        <!--/ Table Heading -->
                        <!-- Table body -->
                        <tbody>
                            <!-- Data -->
                            <tr *ngFor="let item of cartItems">
                                <td class="product-remove hm-align text-center">
                                    <a href="javascript:void(0)" (click)="handleDeleteFromCart(item)"><i class="fa fa-times"></i></a>
                                </td>
                                <td data-title="Product" class="has-title">
                                    <div class="product-thumbnail">
                                        <img [src]="item.image[0]" [alt]="item.title">
                                    </div>
                                    <a routerLink="/shop-details/{{item.id}}" class="btn-link">{{item.title}}</a>
                                </td>
                                <td class="quantity hm-align has-title" data-title="Quantity">
                                    <button type="button" class="minus btn dark-btn btn-outline-secondary hm-qty-btn" (click)="handleDecrementQty(item)">-</button>
                                    <input type="text" class="input-text qty text" name="quantity" value="{{getItemQuantity(item)}}" title="Qty" readonly>
                                    <button type="button" class="plus btn dark-btn btn-outline-secondary hm-qty-btn" (click)="handleAddToCart(item)">+</button>
                                </td>
                                <td class="product-price hm-align has-title" data-title="Price">
                                    <span class="product-currency">$</span> <span class="product-amount">{{item.price * getItemQuantity(item) | number:'1.2-2'}}</span>
                                </td>
                            </tr>
                            <!-- Data -->
                        </tbody>
                        <!-- /Table body -->
                        <!-- Table footer -->
                        <tfoot>
                            <tr>
                                <td colspan="4">
                                    <button class="btn btn-sm dark-btn check-btn btn-width float-left">Continue Shoping</button>
                                </td>
                            </tr>
                        </tfoot>
                        <!-- /Table footer-->
                    </table>
                </div>
                <!-- Discount code -->
                <div class="row">
                    <div class="col-lg-6 col-md-12 mb-3">
                        <div class="hm-product-promo">
                            <div class="hm-title">
                                <h5>Discount Code</h5>
                            </div>
                            <!-- Discount code form -->
                            <form>
                                <div class="form-group">
                                    <label for="couponCode">Enter coupon code</label>
                                    <input type="text" class="form-control" placeholder="Coupon Code" id="couponCode">
                                    <button type="submit" class="btn dark-btn btn-sm mt-4">Apply</button>
                                </div>
                            </form>
                            <!--/ Discount code form -->
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="hm-product-promo">
                            <!-- Discount code table -->
                            <table class="table hm-table-borderless">
                                <tbody>
                                    <tr>
                                        <td> <b>Subtotal</b> </td>
                                        <td class="text-right">$ {{calculateprice() | number:'1.2-2'}}</td>
                                    </tr>
                                    <tr>
                                        <td> <b>Shipping</b> </td>
                                        <td class="text-right">$ 2.99</td>
                                    </tr>
                                    <tr>
                                        <td> <b>Total</b> </td>
                                        <td class="text-right">$ {{calculateprice() + 2.99 | number:'1.2-2'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <a routerLink="/checkout" class="btn dark-btn w-100">Proceed to Checkout</a>
                        </div>
                    </div>
                    <!--/ Discount code -->
                </div>
            </div>
        </div>
    </div>
</section>