<header class="sj-header sj-sajdah-nav">
    <div class="container">
        <div class="sj-wrpr-inner">
            <div class="sj-center sj-logo py-4 mx-auto">
                <a routerLink="/">
                    <img src="assets/images/sajada.png" alt="Logo">
                </a>
            </div>
        </div>
    </div>
</header>
<section class="login-page-section login-bg section-padding">
    <div class="container h-100">
        <div class="row no-gutter h-100 justify-content-center align-items-center">
            <div class="col-md-12">
                <div class="login py-5">
                    <div class="row">
                        <div class="col-lg-6 offset-col-6 mx-auto d-block login-box">
                            <div class="login-page">
                                <h4 class="title">Login</h4>
                                <p class="sub_title">Need a Sajdah account? <a class="color-litegreen" routerLink="/register">Signup here!</a></p>
                            </div>
                            <form class="login-form-s">
                                <div class="form-label-group">
                                    <label for="inputEmail">Email address</label>
                                    <input type="email" class="form-control" placeholder="Email Address" required>
                                </div>
                                <div class="form-label-group">
                                    <label for="inputPassword">Password</label>
                                    <input type="password" class="form-control" placeholder="Password" required>
                                </div>
                                <div class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1">Remember password</label>
                                </div>
                                <button class="btn btn-lg btn-block dark-btn text-uppercase font-weight-bold mb-2" type="submit">Sign in</button>
                                <div class="text-center">
                                    <a href="#" class="small">Forgot password?</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>