<header class="nav-stacked" id="header">
    <nav class="navbar navbar-default sj-navbar" id="navigation_bar">
        <div class="container">
                <div class="logo">
                    <a routerLink="/"><img alt="img" src="assets/images/swinis-white.png"/></a>
                </div>
                <div class="address">
                    <div class="follow_us">
                        <ul>
                            <li><a href="https://www.facebook.com/Swinburneislamic/"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://www.linkedin.com/company/swinburneislamic/about/"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="https://www.instagram.com/swinburne.islamic/"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
        </div>
    </nav>
</header>
