<section class="sj-prayer" id="component-root">
    <div class="container-fluid no-gutter ">
        <div class="row">
            <div class="col-12 col-lg-7 p-0">
                <div class="sj_custom sj_bg_wrap sj_bg_overlay">
                    <div class="sj-prayer-timeing">
                        <div class="section-header table-header">
                            <h2 class="text-center text-white">Swinburne Musalla</h2>
                            <h3>Prayer Schedule</h3>
                            <h4>{{ today.toDateString() }}</h4>
                            <table class="table sj-schedules-table">
                                <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Prayers</th>
                                    <th scope="col">Adhan</th>
                                    <th scope="col">Iqamah</th>
                                </tr>
                                </thead>
                                <tbody class="table-body">
                                <!-- Data -->
                                <tr *ngFor="let item of outputTimes"
                                    [ngClass]="item.name === getNextPrayer() ? 'current':''">
                                    <th scope="row">{{ item.name| titlecase }}</th>
                                    <td>{{item.athan}}</td>
                                    <td>{{ item.iqamah }}</td>
                                </tr>
                                <tr>
                                    <th>Taraweeh</th>
                                    <td>--:--</td>
                                    <td>08:30 pm</td>
                                </tr>
                                <!-- Data -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
