.row {
  min-height: 100vh;
  justify-content: center;
  min-width: 100%;
}

.row > div {
  min-width: 100%;
}

.sj_custom {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sj_custom > div {
  flex-grow: 1;
}

.table thead th {
  text-transform: none;
}

h2 {
  margin-bottom: 0;
}

h3,
h4 {
  color: white;
}

#component-root {
  overflow-x: clip;
  max-height: 100vh;
  max-width: 100%;
  background: none;
}

.top-border {
  border-top: 16px solid #25283a;
}

.location-link > span {
  font-size: 16px;
  text-decoration: underline;
}

.location {
  padding-bottom: 16px;
}
