<section class="sj-prayer">
    <div class="container-fluid no-gutter ">
        <div class="row">
            <div class="col-12 col-lg-7 p-0">
                <div class="sj_custom sj_bg_wrap sj_bg_overlay">
                    <div class="sj-prayer-timeing">
                        <div class="section-header table-header">
                            <h2 class="text-center text-white">Prayer Schedule</h2>
                            <table class="table sj-schedules-table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Prayers</th>
                                        <th scope="col">Athan</th>
                                        <th scope="col">Iqamah</th>
                                    </tr>
                                </thead>
                                <tbody class="table-body">
                                    <!-- Data -->
                                    <tr [ngClass]="item.prayer === getNextPrayer() ? 'current':''" *ngFor="let item of iqamahTimes">
                                        <th scope="row">{{ item.prayer | titlecase }}</th>
                                        <td>{{item.time}}</td>
                                        <td>{{ item.iqamah }}</td>
                                    </tr>
                                    <!-- Data -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
