<app-header></app-header>
<app-banner></app-banner>
<app-about-text></app-about-text>
<app-counter></app-counter>
<section class="section-padding latest_mawlad_khotba m-0">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-5">
        <app-recent-malwads></app-recent-malwads>
      </div>
      <div class="col-md-6 col-lg-5 offset-lg-2">
        <app-recent-khotba></app-recent-khotba>
      </div>
    </div>
  </div>
</section>
<app-upcoming-malwads></app-upcoming-malwads>
<app-gallery></app-gallery>
<app-prayer-schedule></app-prayer-schedule>
<app-blogs></app-blogs>
<app-footer></app-footer>
