<section class="section-padding gallery-section pb-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="section-header text-center">
                <h2>Our Gallery</h2>
                <p>Showcase your images in a boxed layout, there are many variations of passages of Lorem Ipsum
                    available.</p>
            </div>
            <div class="col-md-12">
                <div class="gallery-wrapper gallery-has-zoom">
                    <ng-masonry-grid [masonryOptions]="{ transitionDuration: '0.8s'}" [useAnimation]="true" [useImagesLoaded]="true" class="gallery-masonry gallery-lg">
                        <!-- Data -->
                        <ng-masonry-grid-item class="gallery-item" [ngClass]="i+1 === 3 ? 'ht-2':'ht-1'" *ngFor="let item of gallery;let i = index">
                            <div class="thumb">
                                <img [src]="item.image" alt="img">
                            </div>
                        </ng-masonry-grid-item>
                        <!-- Data -->
                    </ng-masonry-grid>
                </div>
            </div>
        </div>
    </div>
</section> 