<section class="section-padding section_bg">
  <div class="container">
    <div class="our_team">
      <div class="section-header text-center">
        <h2>Our maulvis</h2>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has
        </p>
      </div>
      <div class="row">
        <!-- Data -->
        <div
          class="col-lg-3 col-sm-6"
          *ngFor="let item of author | slice : 0 : 4"
        >
          <div class="box_wrap">
            <div class="team_img">
              <img [src]="item.image" [alt]="item.name" />
              <div class="team_url">
                <a href="#"><i class="fa fa-plus"></i></a>
              </div>
            </div>
            <div class="icon">
              <img src="assets/images/icon.png" alt="img" />
            </div>
            <h6>{{ item.name }}</h6>
            <p>{{ item.post }}</p>
          </div>
        </div>
        <!-- Data -->
      </div>
    </div>
  </div>
</section>
