<section class="sj-video-section sj-video-section-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="sj-video-popup">
                    <a href="https://www.youtube.com/watch?v=KH1pcNUTa6U" class="popup-youtube"><i class="fa fa-play"></i></a>
                </div>
                <div class="sj-video-content-text">
                    <h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </h3>
                </div>
            </div>
        </div>
    </div>
</section>