<div class="sj-section sj-shop-section section-padding">
  <div class="container">
    <div class="row">
      <!-- Sidebar -->
      <aside class="col-lg-4">
        <app-shop-sidebar></app-shop-sidebar>
      </aside>
      <!-- /Sidebar -->
      <div class="col-lg-8">
        <div class="shop-page-wrapper">
          <div class="row">
            <!-- Data -->
            <div
              class="col-lg-4 col-md-6 col-sm-6"
              *ngFor="
                let item of shopService.shopBlock
                  | paginate
                    : { itemsPerPage: 12, currentPage: shopService.page }
              "
            >
              <div class="product">
                <div class="product_thumb">
                  <img
                    [src]="item.image[0]"
                    [alt]="item.title"
                    class="responsive"
                  />
                </div>
                <div class="product_content">
                  <h6>
                    <a routerLink="/shop-details/{{ item.id }}">{{
                      item.title
                    }}</a>
                  </h6>
                  <p>${{ item.price | number : "1.2-2" }}</p>
                </div>
                <div class="product_action">
                  <ul>
                    <li>
                      <a href="javascript:void(0)">
                        <i class="fa fa-eye"></i>
                      </a>
                    </li>
                    <!-- Wishlist -->
                    <li
                      [ngClass]="
                        shopService.isProductInWishlist(item.id) ? 'd-none' : ''
                      "
                    >
                      <a
                        href="javascript:void(0)"
                        (click)="shopService.handleAddToWishlist(item)"
                        ><i class="fa fa-heart-o"></i
                      ></a>
                    </li>
                    <li
                      class="active"
                      [ngClass]="
                        shopService.isProductInWishlist(item.id) ? '' : 'd-none'
                      "
                    >
                      <a
                        href="javascript:void(0)"
                        (click)="shopService.handleDeleteFromWishlist(item)"
                        ><i class="fa fa-heart-o"></i
                      ></a>
                    </li>
                  </ul>
                  <div class="btn-action">
                    <!-- Cart -->
                    <a
                      href="javascript:void(0)"
                      class="btn dark-btn shop-btn"
                      (click)="shopService.handleAddToCart(item)"
                      *ngIf="item.stock"
                      >Add To Cart</a
                    >
                    <a
                      href="javascript:void(0)"
                      class="btn dark-btn shop-btn"
                      *ngIf="!item.stock"
                      (click)="shopService.handleOutofStock()"
                      >Add To Cart</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <!-- Data -->
            <div class="col-lg-12">
              <div class="pagination_wrap">
                <div class="row">
                  <div class="col-sm-6">
                    <p>Page 1 of 2</p>
                  </div>
                  <div class="col-sm-6">
                    <pagination-controls
                      (pageChange)="shopService.page = $event"
                      [responsive]="true"
                      previousLabel="<"
                      nextLabel=">"
                    >
                    </pagination-controls>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
