<section id="intro">
    <owl-carousel-o [options]="settings">
        <!-- Data -->
        <ng-container *ngFor="let item of banner">
            <ng-template carouselSlide>
                <div class="item section-padding" [style.background-image]="'url('+item.bgimage+')'">
                    <div class="container">
                        <div class="intro_text white_text">
                            <img [src]="item.image" [alt]="item.title">
                            <h1>{{item.title}}</h1>
                            <p>{{item.text}}</p>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ng-container>
        <!-- Data -->
    </owl-carousel-o>
</section>