<section class="about_intro section-padding">
  <div class="container">
    <div class="about_us">
      <div class="section-header text-center">
        <h2><u>ALLAH</u> HELP THOSE WHO HELP THEMSELVES</h2>
      </div>
      <p>
        is simply dummy text of the printing and typesetting industry. Lorem
        Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a
        type specimen book. It has survived not only five centuries, but also
        the leap into electronic typesetting, remaining essentially unchanged.
        It was popularised
      </p>
      <p>
        You need to be sure there isn't anything embarrassing hidden in the
        middle of text. All the Lorem Ipsum generators on the Internet tend to
        repeat predefined. chunks as necessary.
      </p>
    </div>
    <div class="text-center">
      <a routerLink="/about" class="btn dark-btn">learn more</a>
    </div>
  </div>
</section>
