<section class="about_intro section-padding">
    <div class="container">
        <div class="about_us">
            <h2>WHO WE ARE</h2>
            <p>
              At the Swinburne Islamic Society, we are dedicated to creating a friendly environment for all Muslim students and staff, grounded in the teachings of our deen. With the purpose of catering to the religious, spiritual and social needs of our community members, regardless of specific beliefs and religiosity, we maintain an active on-campus presence all year round.</p>
              <p >We engage with the wider Swinburne community of all faiths and cultural backgrounds in order to foster an environment of peace and understanding among all. Our Musallah is located in the Multifaith Centre, Level 3 of Building GS.
            </p>
        </div>
        <div class="text-center">
        </div>
    </div>
</section>
