<section class="about_intro section-padding">
    <div class="container">
        <div class="about_us">
         <!--   <div class="section-header text-center">
                <h2><u>ALLAH</u> HELP THOSE WHO HELP THEMSELVES </h2>
            </div> -->
            <h2>WHO WE ARE</h2>
            <p>At the Swinburne Islamic Society, we are dedicated to creating a friendly environment for all Muslim students and staff, grounded in the teachings of our deen. With the purpose of catering to the religious, spiritual and social needs of our community members, regardless of specific beliefs and religiosity, we maintain an active on-campus presence all year round. We engage with the wider Swinburne community of all faiths and cultural backgrounds in order to foster an environment of peace and understanding among all. Apart from being a safe space and advocate for our community on campus, we regularly organise events where students and staff can socialise, network, volunteer, and enjoy themselves in an Islamic setting. Our Musallah, located in the GS Building, is where the five daily congregational prayers, Jumuah Khutbahs and Tarawīh prayers are held regularly.</p>
            <p>Another About Us link with more info?</p>
        </div>
        <div class="text-center">
           <!-- <a routerLink="/about" class="btn dark-btn">learn more</a> -->
        </div>
    </div>
</section>